.depoiments{
  background-color: var(--color-primary);
height: 773px;
margin:0;
padding:0;
}

.depoiments img {
    padding-top:81px;
    padding-left:675px;
}
.depoiments__id {
  margin:36px;
  padding-left:21px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color:#333;
  text-align: center;
  line-height:39px ;
}

.depoiments__id-subtitle {
  display: block;
  padding-left: 360px;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}

.depoiments p {
  display: grid;
  margin-left: 500px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 60ch;

}
.depoiments__simbol{
  margin:0;
  padding:0;
  padding-left: 760px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color:#333;
}
