.company{
  max-width: 1140px;
  max-height: 769px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns:35.625rem 35.625rem;
}

.company_p-span {
  font-family: 'Monteserrat','Sans-serif';
  font-size: 1.56rem;
  font-weight: 700;
  line-height: 1.9375rem;
  color: #333333;
}

.company p {
  margin-top: 7.43rem;
  padding-left: 5rem 0;
  font-family: 'Roboto';
  font-size: 1rem;
  line-height: 1.6875rem;
  color: #333333;
  width: 55ch;

}
.company__marcas {
  background: #ffc500;
  display: grid;
  grid-template-columns: auto;
}

.company__marcas h3 {
  text-align: center;
  font-family: 'Montserrat', 'Sans-serif';
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.93rem;
  color: #333333;
}

.company__marcas-img {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(5,1fr);
}
.company__marcas-img img {
  width: 1040px;
  margin-bottom: 2rem;
  grid-column: 2 / span 4;
  grid-row: 1 /span 5;
}
.company__informs {
  height: 54rem;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(5,1fr);

}
.company__informs iframe {
  height: 518px;
  width: 1040px;
  grid-column: 2 / span 4;
  grid-row: 2 /span 3;
}