
.footer {
  background-color: #000;
  color: #fff;
  padding: 0 1rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3,auto);
  align-items: center;
  padding: 5.25rem 0 3.75rem 0;
}

.footer .logo--studion {
  justify-self: start;
margin: 0;
}

.logo--studion_subtitle{
  display: block;
}

.footer-form{
  display: grid;
  place-items: center;
  grid-template-columns: 10ch auto;
  gap: 1.25rem;
}

.footer-form label {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1rem;
}

.footer-form fieldset {
  display: grid;
  grid-template-columns: auto 3.375rem;
  border: unset;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-form input {
  height: 2.875rem;
  background-color: #ffc500;
  padding: 1rem;
  border: unset;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-form input::placeholder {
  color: #000;
}

.footer-form input:focus {
  outline: unset;
}

.footer-form button {
  cursor: pointer;
  top: 0;
  right: 0;
  border: unset;
  height: 2.875rem;
  transition: 0.3s all ease;
}

.footer-form button:hover {
  color: #fff;
  background-color: var(--color-copy);
}

.footer__social{
  justify-self: end;
}

.footer__social a,
.footer__social a:visited, 
.footer__social a:active {
  color: #fff;
  margin-left: .5rem;
  }
  
  .footer hr {
    border-color: #fff4;
    margin: 0;
  }

  .footer p {
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    margin: 2.5rem 0;
  }
