.hero{
  position: relative;
  height: 34.3994rem;

}

.hero__background {
  height: 34.375rem;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  object-position: center;
}

.hero__copy {
  margin-right: 5.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 3rem 10.875rem 3rem 0;

}
.hero__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  line-height: 7.5rem;
  letter-spacing:-.3125rem;
  color: var(--color-primary);
}

.hero__copy p {
  margin: 0;
  font-size: .9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}

.hero__copy-depoiments_h3 {
  margin: 0;
  padding-left: 45px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing:.4rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  
}

.hero__copy-depoiments h2 {
  padding-left: 45px;
  font-size: 6rem;
}

.hero__copy-depoiments p{
  margin: 0;
  padding-left: 45px;
  font-size: .9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}

.hero__copy-gallery {

  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 3rem 10.875rem 3rem 0;
}
.hero__copy-gallery_h3 {
  margin: 0;
  padding-left: 35px;
  font-size: 0.5rem;
  line-height: 1.5rem;
  letter-spacing:.2rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.hero__copy-gallery_h2 {
  padding-left: 45px;
  font-size: 6rem;
}
.hero__copy-gallery p{
  margin: 0;
  padding-left: 45px;
  font-size: .9375rem;
  line-height: 1.875rem;
  color: var(--color-copy--alt);
}

